body{
    margin: 0 auto;
    font-family: 'Fjalla One', sans-serif;
    color: black;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% de la altura del viewport */
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}
header{
    display: flex;
    background-color: #0a051d;
    height: 125px;
    border-bottom: 1px solid #0aabba;
}
.header_div_uno{
    width: 70%;
}
.header_div_dos{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lista_plataformas{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
}
h3{
    font-size: 25px;
}


#logo{
    width: 80px;
    height: auto;
    margin-top: 5px;
    margin-left: 5%;
}
h1{
    margin-top: 0;
    margin-left: 3%;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px red
    
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #140a3a;
    position: relative;
    height: 25px;
    border-bottom: 1px solid black;
    
}
.lista{
    display: none;
}
.showLista{
    display: block;
    position: absolute;
    padding: 0 auto;
    width: 33%;
    margin: 0 auto;
}
li {
    list-style: none;
    
}
i{
    color: white;
}
a{
    text-decoration: none;
    color:black;
    
    
}
.divBox{
    width: 20%;
    margin: 0;
    padding: 0;

}
.btn_nav{
    width: 100%;
    height: 25px;
    border: none;
    margin: 0 auto;
    padding: 0 auto;
    background-color: transparent;
    font-size: medium;
    color: white;
}
.a_nav{
    color: white;
    width: 100%;
}
.btn_nav:hover,
.btn_nav:hover .a_nav {
    background-color: #5532dc;
    color: #140a3a;
   
    
}
.section_container{
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    

}
.company{
    width: 100%;
    display: flex;
}
.imagenCompany{
    width: 50%;
    
}
.imagenCompany img{
    width: 100%;
}
.textCompany{
    width: 50%;
    padding: 10px;   
}
.bton_ver_mas_container{
    display: flex;
    justify-content: center;
}
.btnVer_mas{
    
    width: 60px;
    height: 40px;
    background-color: #5532dc;
    border: none;
    color: white;
}

hr{
    color: black;
    margin: 1px solid black;
}

.container_cards{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 20px;
}
.card_container{
    width: 210px;
    background-color: rgb(228, 222, 222);
    border-radius: 5px;
    border: 2px solid #534f64;
    margin: 10px 10px 10px 10px;
    
    

}
.img_card{
    width: auto;
    height: 330px;
}
.img_card img{
    width: 100%;
    height: 330px;
    
}
.card_text{
    width:  auto;
    height: auto;
    
}
.card_text h4{
    margin-top: 0;
}
.btnJuego{
   display: flex;
   justify-content: space-around;
   
}
.btn_juegos{
    width: 50px;
    background-color: #8155eb;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;

}
.bton_ver_mas_container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn_anchor{
    width: 23%;
    height: auto;
    background-color: #8155eb;
    color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #5532dc ;
}

.oneCompany{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.oneCompanyBox img{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oneCompanyText{
    width: 800px;
    text-align: center;
}
.oneCompany .img_game{
    width: 300px;
    height: auto;
}
.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    
}
.form_container p{
    font-style: italic;
    font-size: 15px;
}
.logo_form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 15px;
}
.logo_form img{
    width: 100%;
    height: auto;
    
}
.form_container input, label{
    display: block;
    margin: 10px auto 10px ;
}
.formulario{
    width: 300px;
    height: 350px ;
    background: linear-gradient(to bottom, #0a051d, #140a3a);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #0a051d;
}
.formulario button{
    background-color: #8155eb;
    color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #0aabba ;
}
.formulario textarea{
    display: block;
    width: 296px;
    height: 200px;
}
.deleteCompany{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.msg_box{
   width: 500px; 
   height: 300px;
   background-color:#d4cbf1;
   color: black;
   border-radius: 5px;
   margin-left: 30%;
   text-align: center;
    
}
.p_error{
    border: 2px solid red;
    border-radius: 5px;
    font-size: medium;
    background-color: #0a051d;
    color: #5532dc;
}
.mensaje{
    width: 500px; 
    height: 600px;
    margin-left: 30%;
    margin-top: 200px;
   
}


.mensaje_box2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color:#d4cbf1;
    color: black;
    border-radius: 5px;
    
}
.anchor_delete_msg{
    background-color: #5532dc;
    width: 50% ;
    color: white;
}

.box_btn_agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn_agregar{
    width: 200px;
    background-color: #8155eb;
    color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #5532dc;
    margin-top: 20px;
    margin-bottom: 30px;
}
.formCompany{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.formCompany #texto{
    width: 300px;
    height: 200px;
}
.formCompany form{
    text-align: center;
    background: linear-gradient(to bottom, #8155eb, #140a3a, #5532dc );
    color: white;
    border-radius: 5px;
}
.formCompany textarea{
    display: block;
    max-width : auto;
}
.btn_form_company{
    background-color: #8155eb;
    color: white;
    text-align: center;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #5532dc ;
}
.grupo{
    display: flex;
    justify-content: space-around;

}
.h1_footer{
    color: white;
}
footer{
    background: linear-gradient(to bottom, #0a051d, #140a3a); 
    color: white;
}