<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Orbitron&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f810954eb8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container_cards">
        <div class="card_container">
            <div class="img_card">
                <img src="../images/games/darksouls.jpg" alt="mk1">
            </div>
            <div class="card_text">
                <h4>$nombre</h4>
                <p><span>Empresa: </span> $empresa</p> 
                <div class="btnJuego">
                    <a class="btn_juegos" href = "" >Ver mas</a>
                    <!-- if es usuario cargar template -->
                    <a class="btn_juegos" href = "">Editar</a>
                    <a class="btn_juegos" href = "">Eliminar</a>
                </div>
            </div>
        </div>
    </div>



</body>
</html>





