<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="msg_company">
        <div class="caja">
            <div>
                <p> ¿Estás seguro de borrar éste recurso? </p>
            </div>
            <div class="delete_a">
                <a class="anchor_delete" href="router.php?borrarDesarrolladora"> Sí </a> 
                <a class="anchor_delete" href="company"> No </a>
            </div>
        </div>
    </div> 
</body>
</html>